<div class="center">
    <h6 style="margin-top:10px">
        <a href="https://crypt-o-coin.cash" target="_blank">website</a>
        | <a href="https://discord.gg/upPCtgcMJu" target="_blank">discord</a>
        | <a href="https://miningpoolstats.stream/crypto" target="_blank">pools</a>
        | <a href="https://github.com/GonzoTheDev/crypto/releases/latest" target="_blank">wallet</a>
        | <a href="https://github.com/GonzoTheDev/crypto" target="_blank">github</a>
        | explorer version (api): {{git_branch_name}}-{{last_git_commit_date}}-{{last_git_commit_hash}} ({{api}})
        | crypto version: {{monero_version_full}}
    </h6>
</div>
</body>
</html>
