<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="about:blank">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    {{#refresh}}
        <meta http-equiv="refresh" content="10">
    {{/refresh}}
    <title>Crypto Blockchain Explorer</title>
    <!--<link rel="stylesheet" type="text/css" href="/css/style.css">-->
    <style type="text/css">
        {{#css_styles}}{{/css_styles}}
    </style>

    <link href="https://raw.githubusercontent.com/GonzoTheDev/cryptocoin-gui/master/images/appicon.ico" rel="icon" type="image/x-icon" />

</head>
<body>
<div>

    <div class="center">
      <h1 class="center"><img style="margin-top:-5px;margin-right:20px;vertical-align: middle;" src="https://raw.githubusercontent.com/GonzoTheDev/cryptocoin-gui/master/images/appicons/256x256.png"/>
        {{^testnet}}
          {{^stagenet}}
            <a style="text-decoration:none;color:white" href="/">Crypto Blockchain Explorer</a>
          {{/stagenet}}
          {{#stagenet}}
		    <a style="text-decoration:none;color:#00ff88" href="/">Crypto Blockchain Explorer</a>
          {{/stagenet}}
        {{/testnet}}
        {{#testnet}}
          <a style="text-decoration:none;color:red" href="/">Crypto Blockchain Explorer</a>
        {{/testnet}}
	  </h1>
    </div>


    <div class="center">
        <form action="/search" method="get" style="width:100%; margin-top:15px" class="style-1 search">
            <input type="text" name="value" size="120"
                   placeholder="block height, block hash, transaction hash">
            <input type="submit" value="Search">
        </form>
    </div>

</div>
